html {
  scroll-behavior: smooth;
}

:root {
  --primary-font: 'Archivo', sans-serif;
  --secondary-font: 'Bai Jamjuree', sans-serif;
  --primary-color: #F2ECDE;
  --secondary-color: #1C211A;
  --background-primary-color: #3D4A36;
  --background-secondary-color: #C8CE4A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: var(--primary-font);
}

h2 {
  font-family: var(--secondary-font);
  font-size: 80px;
  font-weight: 500;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 40px;
  font-weight: 500;
}

h4 {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

header {
  background-color: var(--background-primary-color);
  padding: 80px 106px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    gap: 32px;
  }

  li {
    font-weight: 500;
    font-size: 24px;
    padding: 18px 30px;
    border: 2px solid var(--primary-color);
    border-radius: 37px;
    transition: 0.3s;
  }

  li:hover {
    background-color: var(--primary-color);
    color: var(--background-primary-color);
    transition: 0.3s;
    cursor: pointer;
  }

  div {
    display: flex;
    gap: 7px;
  }

  button {
    background-color: var(--primary-color);
    border: 2px solid transparent;
    border-radius: 37px;
    padding: 18px 30px;
    font-weight: 500;
    font-size: 24px;
    color: var(--background-primary-color);
    transition: 0.3s;
  }

  button:hover {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    transition: 0.3s;
  }

  button:last-child {
    background-color: transparent;
    color: var(--primary-color);
    display: flex;
    gap: 10px;
  }
}

.hero {
  background-color: var(--background-primary-color);
  padding: 0 106px 130px;
  position: relative;
  z-index: 1;

  h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--secondary-font);
    font-size: 330px;
    font-weight: 400;
    border-block: 1px solid var(--primary-color);
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 88%;
  }

  .hero-images {
    display: flex;
    justify-content: center;
    gap: 56px;
    margin-inline: 300px;
  }

  .hero-images img {
    width: 100%;
  }

  p {
    position: absolute;
    bottom: 8%;
    left: 85%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }
}

.section-1 {
  background-image: url(images/paper-textured-background.jpg);
  position: relative;
  z-index: 0;
  padding: 170px 106px 116px;

  .sect-1-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
  }

  h2 {
    color: var(--secondary-color);
  }

  p {
    color: var(--background-primary-color);
    width: 44%;
  }

  #pool-and-house {
    width: 100%;
  }

  #bg-image-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #bg-image-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.section-2 {
  background-color: var(--secondary-color);
  padding: 100px 106px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 216px;

  .sect-2-images {
    display: flex;
    gap: 56px;
    width: 100%;
    height: -webkit-fill-available;
  }

  .sect-2-images img {
    width: 100%;
  }

  .sect-2-info {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 37px;
    padding: 18px 30px;
    font-weight: 500;
    font-size: 24px;
    color: var(--primary-color);
    transition: 0.3s;
  }

  button:hover {
    background-color: var(--primary-color);
    color: var(--background-primary-color);
    transition: 0.3s;
  }

  span {
    color: var(--background-secondary-color);
  }

  hr {
    border: 1px solid var(--background-secondary-color);
    width: 270px;
    margin-block: 48px;
  }
}

.section-3 {
  background-color: var(--background-primary-color);
  padding: 139px 106px 159px;

  .sect-3-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
  }

  h2 {
    color: var(--primary-color);
    width: 75%;
  }

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--primary-color);
    width: 25%;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
  }

  li {
    display: flex;
    flex-direction: column;
    gap: 55px;
    width: 809px;
  }

  button {
    position: absolute;
    top: 49px;
    left: 49px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 37px;
    width: 273px;
    height: 62px;
    font-weight: 400;
    font-size: 24px;
    color: var(--background-primary-color);
    opacity: 0.7;
    transition: 0.3s;
  }

  button:hover {
    opacity: 1;
    transition: 0.3s;
  }

  .li-img {
    position: relative;
    z-index: 0;
  }

  .li-img img {
    width: 100%;
  }

  .li-text {
    display: flex;
    justify-content: space-between;
  }

  .li-text div {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .li-text span {
    font-size: 24px;
    font-family: var(--secondary-font);
  }

  .li-text p {
    width: 327px;
  }
}

.section-4 {
  background-image: url(images/paper-textured-background.jpg);
  position: relative;
  z-index: 0;
  padding: 150px 106px 186px;

  #bg-image-3 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .sect-4-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 127px;
    margin-bottom: 56px;
  }

  h2 {
    color: var(--secondary-color);
  }

  p {
    color: var(--background-primary-color);
    font-size: 24px;
    width: 53%;
  }

  hr {
    border: 1px solid var(--background-primary-color);
    width: 100%;
  }

  .sect-4-article {
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
    gap: 55px;
  }

  .sect-4-article h3 {
    color: var(--secondary-color);
  }

  .sect-4-images {
    display: flex;
    gap: 56px;
  }

  .sect-4-images img {
    width: 100%;
  }

  .sect-4-article p {
    color: var(--background-primary-color);
    font-size: 18px;
  }
}

.section-5 {
  background-image: url(images/paper-textured-background.jpg);
  padding: 50px 106px 200px;
  position: relative;
  z-index: 0;

  #bg-image-4 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .sect-5-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 172px;
  }

  .sect-5-info h2 {
    color: var(--secondary-color);
  }

  .sect-5-info button {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 37px;
    width: 311px;
    height: 62px;
    font-weight: 400;
    font-size: 24px;
    color: var(--secondary-color);
    transition: 0.3s;
  }

  .sect-5-info button:hover {
    background-color: var(--background-secondary-color);
    transition: 0.3s;
    border: 1px solid transparent;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 150px;
  }

  .card {
    display: flex;
    gap: 66px;
  }

  h3 {
    margin: 0;
    font-size: 40px;
    color: #222;
  }

  .card-content {
    display: flex;
    gap: 70px;
  }

  .card-content div:first-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-content div:last-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .card-content button {
    margin-top: auto;
  }

  #community {
    background-color: #817356;
    border: none;
    border-radius: 37px;
    width: 164px;
    height: 58px;
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary-color);
    transition: 0.3s;
    opacity: 0.7;
  }

  #community:hover {
    opacity: 1;
    transition: 0.3s;
  }

  #square {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    transition: 0.4s;
  }

  #square:hover {
    background-color: var(--background-secondary-color);
    border: 1px solid transparent;
    transition: 0.4s;
  }

  p {
    font-size: 18px;
    color: var(--background-primary-color);
  }
}

.section-6 {
  background-color: var(--background-secondary-color);
  padding: 100px 106px;
  display: flex;
  justify-content: space-between;
  gap: 180px;

  .sect-6-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    position: relative;
  }

  .sect-6-info h2 {
    color: var(--secondary-color);
  }

  .sect-6-info p {
    color: var(--secondary-color);
    font-size: 24px;
  }

  .sect-6-info button {
    background-color: var(--secondary-color);
    border: 1px solid transparent;
    border-radius: 37px;
    width: 185px;
    height: 62px;
    font-weight: 500;
    font-size: 24px;
    color: var(--background-secondary-color);
    transition: 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .sect-6-info button:hover {
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.3s;
  }

  .sect-6-images {
    display: flex;
    justify-content: center;
    gap: 56px;
  }
}

.section-7 {
  background-color: var(--secondary-color);
  padding: 119px 106px 132px;
  display: flex;
  justify-content: space-between;

  .sect-7-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 68px;
    width: 50%;
    position: relative;
  }

  .sect-7-info h3 {
    color: var(--background-secondary-color);
    font-size: 50px;
    color: var(--primary-color);
  }

  .sect-7-info h3 span {
    color: var(--background-secondary-color);
  }

  .sect-7-info button {
    background-color: var(--background-secondary-color);
    border: 1px solid transparent;
    border-radius: 37px;
    width: 311px;
    height: 62px;
    font-weight: 400;
    font-size: 24px;
    color: var(--secondary-color);
    transition: 0.3s;
  }

  .sect-7-info button:hover {
    background-color: transparent;
    color: var(--background-secondary-color);
    border: 1px solid var(--background-secondary-color);
    transition: 0.3s;
  }

  .sect-7-info p {
    font-size: 24px;
    line-height: 32px;
    position: absolute;
    bottom: 0;
    left: 0;

  }

  .carousel {
    position: relative;
    width: 834px;
    max-width: 45%;
    overflow: hidden;
  }

  .carousel-images {
    display: flex;
    transition: transform 0.5s ease;
  }

  .carousel-images img {
    width: 100%;
    flex-shrink: 0;
  }

  .carousel-text {
    margin-top: 40px;
    font-size: 18px;
    line-height: 24px;
  }

  .carousel-buttons {
    position: absolute;
    top: 47%;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transform: translateY(-50%);
  }

  .carousel-btn {
    width: 100px;
    height: 100px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    background: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s;
    backdrop-filter: blur(1px);
  }

  .carousel-btn:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: background 0.3s;
    backdrop-filter: blur(0px);
  }
}

.section-8 {
  background-image: url(images/paper-textured-background.jpg);
  padding: 135px 106px 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 0;

  #bg-image-5 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .sect-8-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 97px;
  }

  .sect-8-info h2 {
    color: var(--secondary-color);
    width: 70%;
  }

  .sect-8-info p {
    width: 30%;
    line-height: 24px;
    color: var(--secondary-color);
  }

  .faq {
    margin-block: 100px;
    display: flex;
    justify-content: space-between;
  }

  .faq h3 {
    color: var(--secondary-color);
    font-size: 50px;
    width: 30%;
  }

  .faq-container {
    width: 50%;
  }

  .faq-item {
    border-bottom: 1px solid var(--background-primary-color);
    padding: 30px 0;
    cursor: pointer;
  }

  .faq-item:first-child {
    border-top: 1px solid var(--background-primary-color);
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    font-weight: 500;
    color: var(--secondary-color);
    letter-spacing: 1px;
  }

  .faq-question button {
    background: none;
    border: none;
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    font-size: 24px;
    color: var(--background-primary-color);
  }

  .faq-item.active .faq-answer {
    max-height: 300px;
    opacity: 1;
    margin-top: 10px;
  }

  .faq-item.active .faq-question button {
    transform: rotate(180deg);
  }

  .questions {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .question-1,
  .question-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px 70px;
  }

  .question-1 {
    background-color: var(--secondary-color);
  }

  .question-1 h3,
  .question-2 h3 {
    font-size: 50px;
  }

  .question-2 {
    background-color: var(--background-secondary-color);
  }

  .question-1 button,
  .question-2 button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 37px;
    width: 308px;
    height: 62px;
    font-weight: 500;
    font-size: 24px;
    color: var(--primary-color);
    transition: 0.3s;
  }

  .question-1 button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.3s;
  }

  .question-2 button:hover {
    background-color: var(--primary-color);
    color: var(--background-secondary-color);
    transition: 0.3s;
  }
}

footer {
  display: flex;

  h4 {
    font-size: 60px;
    text-align: center;
  }

  .footer-left-side {
    background-color: var(--background-primary-color);
    padding: 113px 148px 66px;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .footer-left-side p {
    font-size: 24px;
    margin-block: 21px 57px;
    display: block;
    text-align: center;
  }

  .footer-left-side p:last-child {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-left-side form {
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
  }

  .footer-left-side form input {
    background-color: transparent;
    border: none;
    font-size: 24px;
    width: 80%;
    height: 100%;
    padding: 20px 20px 10px;
    color: var(--primary-color);
  }

  form button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    width: 58px;
    height: 58px;
    border-radius: 11px;
  }

  input {
    border: none;
  }

  input:focus {
    outline: none;
  }

  label {
    margin-top: 21px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  #check {
    width: 21px;
    height: 21px;
    opacity: 0.5;
  }

  .footer-left-side ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-block: 68px;
  }

  .footer-left-side ul li {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-left-side ul li a {
    background-color: var(--background-primary-color);
  }

  .footer-left-side ul li button {
    background-color: transparent;
    border: none;
  }

  .footer-left-side p {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .footer-right-side {
    width: 50%;
    background-color: var(--secondary-color);
    padding: 212px 171px 66px;
    display: flex;
    flex-direction: column;
    gap: 55px;
  }

  .footer-right-side button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 37px;
    width: 308px;
    height: 62px;
    font-weight: 500;
    font-size: 24px;
    color: var(--primary-color);
    transition: 0.3s;
    display: block;
    margin: 51px auto 124px;
  }

  .footer-right-side button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.3s;
  }

  .footer-right-side ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 18px;
  }
}

@media (max-width: 1560px) {
  header {
    padding: 60px 86px;

    nav a img {
      width: 70%;
    }

    nav ul {
      gap: 15px;
    }

    nav ul li {
      font-size: 18px;
      padding: 15px 25px;
      border: 1px solid var(--primary-color);
    }

    button {
      font-size: 18px;
      padding: 15px 25px;
      border: 1px solid var(--primary-color);
    }

    button:hover {
      border: 1px solid var(--primary-color);
    }

    button:last-child {
      font-size: 18px;
      padding: 15px 25px;
      border: 1px solid var(--primary-color);
    }
  }

  .hero {
    padding: 0 86px 110px;

    h1 {
      font-size: 250px;
    }

    p {
      bottom: 6%;
      left: 84%;
      font-size: 16px;
    }
  }

  .section-1 {
    padding: 100px 86px;

    h2 {
      font-size: 50px;
    }

    p {
      font-size: 16px;
      width: 57%;
    }

    .sect-1-info {
      margin-bottom: 80px;
    }
  }

  .section-2 {
    padding: 100px 86px;

    .sect-2-info button {
      font-size: 18px;
      padding: 15px 25px;
      border: 1px solid var(--primary-color);
    }

    h2 {
      font-size: 50px;
    }
  }

  .section-3 {
    padding: 100px 86px;

    h2 {
      font-size: 50px;
    }

    p {
      font-size: 16px;
    }

    .sect-3-info {
      margin-bottom: 70px;
    }

    ul {
      justify-content: center;
      gap: 55px;
    }

    li {
      width: unset;
      gap: 35px;
      border-top: 1px solid var(--primary-color);
      padding-top: 20px;
      flex-direction: unset;
    }

    .li-text {
      flex-direction: column;
    }

    button {
      font-size: 18px;
      width: 213px;
      height: 52px;
    }
  }

  .section-4 {
    padding: 100px 86px;

    h2 {
      font-size: 50px;
    }

    p {
      font-size: 18px;
    }

    .sect-4-info {
      margin-bottom: 36px;
    }

    .sect-4-article {
      margin-top: 74px;
      gap: 25px;
    }

    .sect-4-article h3 {
      font-size: 32px;
      width: 25%;
    }

    .sect-4-article p {
      font-size: 16px;
      width: 25%;
    }

    .sect-4-images {
      width: 50%;
    }
  }

  .section-5 {
    padding: 100px 86px;

    .sect-5-info {
      margin-bottom: 60px;
    }

    h2 {
      font-size: 50px;
    }

    .sect-5-info button {
      font-size: 18px;
      width: 225px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .card-container {
      gap: 100px;
    }

    h3 {
      font-size: 26px;
    }

    #community {
      font-size: 16px;
      width: 118px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    p {
      font-size: 15px;
    }

    #square {
      width: 50px;
      height: 50px;
      border-radius: 15px;
    }

    #square img {
      width: 50%;
    }
  }

  .section-6 {
    padding: 100px 86px;
    gap: 70px;

    .sect-6-info,
    .sect-6-images {
      width: 50%;
    }

    h2 {
      font-size: 50px;
    }

    .sect-6-info p {
      font-size: 18px;
    }

    .sect-6-info button {
      font-size: 18px;
      width: 145px;
      height: 52px;
      display: flex;
      justify-content: center;
      gap: 10px;
      align-items: center;
    }

    .sect-6-images img {
      width: 100%;
    }
  }

  .section-7 {
    padding: 100px 86px;

    .sect-7-info h3 {
      font-size: 32px;
      width: 70%;
    }

    .sect-7-info button {
      font-size: 18px;
      width: 225px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .sect-7-info p {
      font-size: 18px;
      width: 70%;
      margin-top: 30px;
    }

    .carousel-text {
      font-size: 16px;
    }

    .carousel-buttons {
      top: 43%;
    }

    .carousel-btn {
      width: 70px;
      height: 70px;
    }
  }

  .section-8 {
    padding: 100px 86px;

    .sect-8-info {
      gap: 50px;
      align-items: flex-start;
    }

    .sect-8-info h2 {
      font-size: 50px;
    }

    .sect-8-info p {
      font-size: 18px;
    }

    .faq {
      margin-top: 75px;
    }

    .faq h3 {
      font-size: 32px;
    }

    .faq-item {
      padding: 20px 0;
    }

    .faq-question {
      font-size: 25px;
    }

    .faq-answer {
      font-size: 18px;
    }

    .question-1,
    .question-2 {
      padding: 32px 50px;
    }

    .question-1 h3,
    .question-2 h3 {
      font-size: 32px;
    }

    .question-1 button,
    .question-2 button {
      font-size: 18px;
      width: 238px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  footer {
    h4 {
      font-size: 40px;
    }

    .footer-left-side {
      justify-content: center;
      padding: 80px 86px;
    }

    .footer-left-side p:first-child {
      font-size: 18px;
      margin-block: 11px 27px;
    }

    .footer-left-side p:last-child {
      font-size: 14px;
      width: 100%;
    }

    .footer-left-side form {
      height: 65px;
    }

    .footer-left-side form input {
      font-size: 18px;
      padding: 15px 15px 10px;
    }

    form button {
      width: 42px;
      height: 42px;
    }

    form button img {
      width: 50%;
    }

    label {
      margin-top: 16px;
      gap: 15px;
    }

    .footer-left-side ul {
      gap: 30px;
    }

    .footer-left-side ul li {
      width: 51px;
      height: 51px;
    }

    .footer-right-side {
      padding: 80px 86px;
      gap: 35px;
      position: relative;
      justify-content: center;
    }

    .footer-right-side button {
      font-size: 18px;
      width: 238px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin: 51px auto 0;
    }

    .footer-right-side ul {
      gap: 30px;
      font-size: 14px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 57px;
      width: 100%;
    }
  }
}

@media (max-width: 1290px) {
  header {
    padding: 40px 66px;

    nav a img {
      width: 60%;
    }

    nav ul {
      gap: 15px;
    }

    nav ul li {
      font-size: 14px;
      padding: 10px 18px;
      border: 1px solid var(--primary-color);
    }

    button {
      font-size: 14px;
      padding: 10px 18px;
      border: 1px solid var(--primary-color);
    }

    button:last-child {
      font-size: 14px;
      padding: 10px 18px;
      border: 1px solid var(--primary-color);
      gap: 5px;
    }

    button:last-child img {
      width: 20%;
    }
  }

  .hero {
    padding: 0 66px 90px;

    h1 {
      font-size: 200px;
    }

    p {
      font-size: 12px;
      bottom: 0;
      left: 50%;
      text-align: center;
    }
  }

  .section-1 {
    padding: 70px 66px;

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 13px;
    }

    .sect-1-info {
      margin-bottom: 50px;
    }
  }

  .section-2 {
    padding: 70px 66px;
    gap: 86px;

    .sect-2-info button {
      font-size: 14px;
      padding: 10px 18px;
    }

    h2 {
      font-size: 40px;
    }

    hr {
      margin-block: 38px;
    }
  }

  .section-3 {
    padding: 70px 66px;

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 13px;
    }

    .sect-3-info {
      margin-bottom: 50px;
    }

    h3 {
      font-size: 35px;
    }

    .li-text span {
      font-size: 22px;
    }

    button {
      font-size: 17px;
      width: 193px;
      height: 46px;
    }
  }

  .section-4 {
    padding: 70px 66px;

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 18px;
    }

    .sect-4-info {
      margin-bottom: 26px;
    }

    .sect-4-article {
      margin-top: 54px;
    }

    .sect-4-article h3 {
      font-size: 26px;
    }

    .sect-4-article p {
      font-size: 14px;
    }
  }

  .section-5 {
    padding: 70px 66px;

    h2 {
      font-size: 40px;
    }

    .sect-5-info button {
      font-size: 18px;
      width: 225px;
      height: 46px;
      gap: 5px;
    }

    .card-container {
      gap: 60px;
    }

    .card {
      gap: 36px;
      flex-direction: column;
    }

    .card-image {
      margin: 0 auto;
    }

    .card-image img {
      width: 100%;
    }

    .card-content {
      gap: 20px;
      margin: 0 auto;
      flex-direction: column;
      display: flex;
      justify-content: space-between;
    }

    .card-content p {
      width: 75%;
    }

    .card-content div:first-child {
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: unset;
      flex-direction: unset;
    }

    .card-content div:last-child {
      width: 100%;
      align-items: center;
      gap: 20px;
      margin: 0 auto;
      flex-direction: unset;
      justify-content: space-between;
    }
  }

  .section-6 {
    padding: 70px 66px;

    h2 {
      font-size: 40px;
    }

    .sect-6-info {
      gap: 30px;
    }

    .sect-6-info p {
      font-size: 15px;
    }

    .sect-6-info button {
      font-size: 16px;
      width: 135px;
      height: 46px;
    }
  }

  .section-7 {
    padding: 70px 66px;

    .sect-7-info {
      gap: 38px;
    }

    .sect-7-info h3 {
      font-size: 30px;
      width: unset;
    }

    .sect-7-info button {
      font-size: 14px;
      width: 193px;
      height: 46px;
    }

    .sect-7-info p {
      font-size: 15px;
      width: unset;
    }

    .carousel-text {
      font-size: 12px;
      margin-top: 10px;
    }

    .carousel-btn {
      width: 50px;
      height: 50px;
      border-radius: 12px;
    }

    .carousel-btn img {
      width: 80%;
    }

    .carousel-buttons {
      gap: 15px;
    }
  }

  .section-8 {
    padding: 70px 66px;

    .sect-8-info {
      gap: 30px;
      width: 100%;
    }

    .sect-8-info h2 {
      font-size: 40px;
      width: unset;
    }

    .sect-8-info p {
      font-size: 13px;
      width: 70%;
    }

    .faq {
      margin-top: 45px;
    }

    .faq h3 {
      font-size: 30px;
    }

    .faq-item {
      padding: 10px 0;
    }

    .faq-question {
      font-size: 22px;
    }

    .faq-question button {
      font-size: 32px;
    }

    .faq-answer p {
      font-size: 15px;
    }

    .faq-item.active .faq-answer {
      margin: 0;
    }

    .question-1,
    .question-2 {
      padding: 15px 30px;
    }

    .question-1 h3,
    .question-2 h3 {
      font-size: 28px;
    }

    .question-1 button,
    .question-2 button {
      font-size: 15px;
      width: 190px;
      height: 46px;
      gap: 5px;
    }
  }

  footer {
    h4 {
      font-size: 32px;
    }

    .footer-left-side {
      padding: 50px 66px;
    }

    .footer-left-side p {
      font-size: 15px;
    }

    .footer-left-side form {
      height: 55px;
    }

    form button {
      width: 38px;
      height: 38px;
    }

    label {
      margin-top: 12px;
    }

    .footer-left-side ul {
      margin-block: 35px;
      gap: 15px;
    }

    .footer-left-side ul li {
      width: 45px;
      height: 45px;
    }

    .footer-left-side p {
      margin-block: 15px 30px;
    }

    .footer-left-side p:last-child {
      font-size: 12px;
    }

    .footer-right-side button {
      font-size: 16px;
      width: 208px;
      height: 46px;
      margin: 31px auto 0;
    }

    .footer-right-side ul {
      gap: 30px;
      font-size: 12px;
      margin-bottom: 34px;
    }
  }
}